<!doctype html>
<html>
<head>
  <title>Ratings</title>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class=flashes>
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
</head>

<body>
  Ratings
  <hr>

  {% block content %} put your content here {% endblock %}

</body>
</html>